html,
body {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.app {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.aa{
    position: absolute;
    z-index: 99;
    width: auto;
    height: auto;
    float: left;
    right: 0%;
}